In [29]:
import pandas as pd
import numpy as np

In [30]:
cars = pd.read_csv('imports-85.data')
cars.columns = 'symboling,normalized_losses,make,fuel_type,aspiration,\
num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,\
width,height,curb_weight,engine_type,num_of_cylinders,engine_size,\
fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,\
city_mpg,highway_mpg,price'.split(',')

In [31]:
cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [47]:
# cars.info()
cars['normalized_losses'].dtype

dtype('O')

In [50]:
for c in cars.columns:
    if cars[c][cars[c] == '?'].count() > 0:
        print(c, cars[c][cars[c] == '?'].count(),cars[c].dtype)

normalized_losses 40 object
num_of_doors 2 object
bore 4 object
stroke 4 object
horsepower 2 object
peak_rpm 2 object
price 4 object

In [26]:
cars['normalized_losses'] = cars['normalized_losses'].replace('?', np.nan)

In [28]:
# cars['normalized_losses'].value_counts(dropna=False)

In [24]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized_losses  164 non-null    object
 2   make               204 non-null    object
 3   fuel_type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num_of_doors       204 non-null    object
 6   body_style         204 non-null    object
 7   drive_wheels       204 non-null    object
 8   engine_location    204 non-null    object
 9   wheel_base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb_weight        204 non-null    int64
 14  engine_type        204 non-null    object
 15  num_of_cylinders   204 non-null    object
 16  engine_size        204 non-null    int64
 17  fuel_system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression_ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak_rpm           204 non-null    object
 23  city_mpg           204 non-null    int64
 24  highway_mpg        204 non-null    int64
 25  price              204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB