In [2]:
import pandas as pd
import numpy as np

In [3]:
cars = pd.read_csv('imports-85.data')
cars.columns = 'symboling,normalized_losses,make,fuel_type,aspiration,\
num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,\
width,height,curb_weight,engine_type,num_of_cylinders,engine_size,\
fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,\
city_mpg,highway_mpg,price'.split(',')

In [4]:
cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [5]:
# cars.info()
cars['normalized_losses'].dtype

dtype('O')

In [6]:
for c in cars.columns:
    if cars[c][cars[c] == '?'].count() > 0:
        print(c, cars[c][cars[c] == '?'].count(),cars[c].dtype)

normalized_losses 40 object
num_of_doors 2 object
bore 4 object
stroke 4 object
horsepower 2 object
peak_rpm 2 object
price 4 object

/Users/plamenyankov/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [11]:
cars_df = cars.replace('?', np.nan)

In [15]:
cars_df.isnull().sum()

symboling             0
normalized_losses    40
make                  0
fuel_type             0
aspiration            0
num_of_doors          2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_of_cylinders      0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [23]:
cars_df['normalized_losses'].value_counts(dropna=False, normalize=True).head()

NaN    0.196078
161    0.053922
91     0.039216
150    0.034314
104    0.029412
Name: normalized_losses, dtype: float64

In [55]:
cars_df[cars_df['normalized_losses'].isna()].head()

Empty DataFrame
Columns: [symboling, normalized_losses, make, fuel_type, aspiration, num_of_doors, body_style, drive_wheels, engine_location, wheel_base, length, width, height, curb_weight, engine_type, num_of_cylinders, engine_size, fuel_system, bore, stroke, compression_ratio, horsepower, peak_rpm, city_mpg, highway_mpg, price]
Index: []

[0 rows x 26 columns]

In [49]:
normalized_losses_mean = cars_df[cars_df['normalized_losses'].notna()]['normalized_losses'].astype(int).mean()
cars_df.loc[cars_df['normalized_losses'].isna(),'normalized_losses'] = normalized_losses_mean
cars_df['normalized_losses'] = cars_df['normalized_losses'].astype(int)
cars_df['normalized_losses'].dtype

dtype('int64')

In [53]:
cars_df['num_of_doors'].value_counts(dropna=False)

four    114
two      88
NaN       2
Name: num_of_doors, dtype: int64

In [60]:
cars_df.dropna(subset=['num_of_doors','bore','stroke','horsepower','peak_rpm','price'], inplace=True)
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 203
Data columns (total 26 columns):
symboling            192 non-null int64
normalized_losses    192 non-null int64
make                 192 non-null object
fuel_type            192 non-null object
aspiration           192 non-null object
num_of_doors         192 non-null object
body_style           192 non-null object
drive_wheels         192 non-null object
engine_location      192 non-null object
wheel_base           192 non-null float64
length               192 non-null float64
width                192 non-null float64
height               192 non-null float64
curb_weight          192 non-null int64
engine_type          192 non-null object
num_of_cylinders     192 non-null object
engine_size          192 non-null int64
fuel_system          192 non-null object
bore                 192 non-null object
stroke               192 non-null object
compression_ratio    192 non-null float64
horsepower           192 non-null object
peak_rpm             192 non-null object
city_mpg             192 non-null int64
highway_mpg          192 non-null int64
price                192 non-null object
dtypes: float64(5), int64(6), object(15)
memory usage: 40.5+ KB

In [62]:
cars_df['bore'] = cars_df['bore'].astype(float)
cars_df['stroke'] = cars_df['stroke'].astype(float)
cars_df['horsepower'] = cars_df['horsepower'].astype(int)
cars_df['peak_rpm'] = cars_df['peak_rpm'].astype(int)
cars_df['price'] = cars_df['price'].astype(float)
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 0 to 203
Data columns (total 26 columns):
symboling            192 non-null int64
normalized_losses    192 non-null int64
make                 192 non-null object
fuel_type            192 non-null object
aspiration           192 non-null object
num_of_doors         192 non-null object
body_style           192 non-null object
drive_wheels         192 non-null object
engine_location      192 non-null object
wheel_base           192 non-null float64
length               192 non-null float64
width                192 non-null float64
height               192 non-null float64
curb_weight          192 non-null int64
engine_type          192 non-null object
num_of_cylinders     192 non-null object
engine_size          192 non-null int64
fuel_system          192 non-null object
bore                 192 non-null float64
stroke               192 non-null float64
compression_ratio    192 non-null float64
horsepower           192 non-null int64
peak_rpm             192 non-null int64
city_mpg             192 non-null int64
highway_mpg          192 non-null int64
price                192 non-null float64
dtypes: float64(8), int64(8), object(10)
memory usage: 40.5+ KB

In [63]:
from sklearn.preprocessing import MinMaxScaler

In [71]:
scaler = MinMaxScaler()
scaler.fit(cars_df[['normalized_losses','bore','stroke','horsepower','peak_rpm']])
scaled = scaler.transform(cars_df[['normalized_losses','bore','stroke','horsepower','peak_rpm']])

/Users/plamenyankov/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [73]:
cars_df[['normalized_losses','bore','stroke','horsepower','peak_rpm']] = scaled
cars_df[['normalized_losses','bore','stroke','horsepower','peak_rpm']].head()

   normalized_losses      bore    stroke  horsepower  peak_rpm
0           0.298429  0.664286  0.290476    0.294393  0.346939
1           0.298429  0.100000  0.666667    0.495327  0.346939
2           0.518325  0.464286  0.633333    0.252336  0.551020
3           0.518325  0.464286  0.633333    0.313084  0.551020
4           0.298429  0.464286  0.633333    0.289720  0.551020