In [7]:
import numpy as np
from sklearn.model_selection import cross_val_score, KFold
from sklearn.neighbors import KNeighborsRegressor
X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]])
y = np.array([1, 2, 3, 4])
kf = KFold(n_splits=2)
kf.get_n_splits(X)

# print(kf.get_n_splits(X))

for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

TRAIN: [2 3] TEST: [0 1]
TRAIN: [0 1] TEST: [2 3]

In [8]:
X_train

array([[1, 2],
       [3, 4]])

In [12]:
y_train

array([1, 2])

In [13]:
import pandas as pd
dc_listings = pd.read_csv('dc_airbnb.csv')

In [16]:
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD

In [20]:
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
dc_listings['price'] = stripped_dollars.astype('float')

In [23]:

num_folds = [3, 5, 7, 9, 10, 11, 13, 15, 17, 19, 21, 23]

for fold in num_folds:
    kf = KFold(fold, shuffle=True, random_state=1)
    model = KNeighborsRegressor()
    mses = cross_val_score(model, dc_listings[["accommodates"]], dc_listings["price"], scoring="neg_mean_squared_error", cv=kf)
    rmses = np.sqrt(np.absolute(mses))
    avg_rmse = np.mean(rmses)
    std_rmse = np.std(rmses)
    print(str(fold), "folds: ", "avg RMSE: ", str(avg_rmse), "std RMSE: ", str(std_rmse))

3 folds:  avg RMSE:  127.19146799819767 std RMSE:  7.80114274447321
5 folds:  avg RMSE:  130.57004998596955 std RMSE:  15.968993082617418
7 folds:  avg RMSE:  124.74000565490935 std RMSE:  23.009326104623764
9 folds:  avg RMSE:  133.85427296864364 std RMSE:  20.275996691809862
10 folds:  avg RMSE:  134.50358073016668 std RMSE:  30.83892745302988
11 folds:  avg RMSE:  129.58548991863123 std RMSE:  22.39316430178567
13 folds:  avg RMSE:  133.05101345639838 std RMSE:  27.88932598342725
15 folds:  avg RMSE:  124.86715246014936 std RMSE:  37.03384132069149
17 folds:  avg RMSE:  131.3786960290144 std RMSE:  40.043451719093724
19 folds:  avg RMSE:  129.0143524209374 std RMSE:  44.3383982741942
21 folds:  avg RMSE:  125.49498964946545 std RMSE:  41.03033829748872
23 folds:  avg RMSE:  125.27939162120605 std RMSE:  41.668089858618046