# Exploring Chinook Database

## Schema Diagram for the Chinook database

In [47]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "../../Images/chinook-schema.svg")

In [33]:
import mysql.connector

In [34]:
config = {
    'user':'root',
    'password':'password',
    'host':'localhost',
    'database':'',
    'port':'3306',
}

In [35]:
def connect(config):
    return mysql.connector.connect(**config)

In [36]:
cnx = connect(config)
cursor = cnx.cursor()

In [37]:
q = "USE Chinook"
cursor.execute(q)

In [19]:
q = "SHOW tables"
cursor.execute(q)
cursor.fetchall()

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

In [24]:
q = "DESCRIBE InvoiceLine"
cursor.execute(q)
cursor.fetchall()

[('InvoiceLineId', 'int', 'NO', 'PRI', None, ''),
 ('InvoiceId', 'int', 'NO', 'MUL', None, ''),
 ('TrackId', 'int', 'NO', 'MUL', None, ''),
 ('UnitPrice', 'decimal(10,2)', 'NO', '', None, ''),
 ('Quantity', 'int', 'NO', '', None, '')]

#### Write a query that gathers data about the invoice with an invoice_id of 4. Include the following columns in order:
* The id of the track, track_id.
* The name of the track, track_name.
* The name of media type of the track, track_type.
* The price that the customer paid for the track, unit_price.
* The quantity of the track that was purchased, quantity.

In [27]:
q = """
SELECT 
t.TrackId track_id,
t.Name track_name,
mt.Name track_type,
il.UnitPrice unit_price,
il.Quantity
FROM InvoiceLine il
INNER JOIN Track t ON t.TrackId = il.TrackId
INNER JOIN MediaType mt ON mt.MediaTypeId = t.MediaTypeId
WHERE il.InvoiceLineId = 4;
"""
cursor.execute(q)
r = cursor.fetchall()

for i in r:
    print(i)

(8, 'Inject The Venom', 'MPEG audio file', Decimal('0.99'), 1)

Find the artist for each track by joining albuls and artist table

In [39]:
q = """ 
SELECT
    t.TrackId track_id,
    t.Name track_name,
    ar.Name artist_name,
    mt.Name track_type,
    il.UnitPrice unit_price,
    il.Quantity
FROM InvoiceLine il
INNER JOIN Track t ON t.TrackId = il.TrackId
INNER JOIN MediaType mt ON mt.MediaTypeId = t.MediaTypeId
INNER JOIN Album al ON al.AlbumId = t.AlbumId
INNER JOIN Artist ar ON ar.ArtistId = al.ArtistId
WHERE il.InvoiceId = 4;
"""
cursor.execute(q)
r = cursor.fetchall()

for i in r:
    print(i)

(42, 'Right Through You', 'Alanis Morissette', 'MPEG audio file', Decimal('0.99'), 1)
(48, 'Not The Doctor', 'Alanis Morissette', 'MPEG audio file', Decimal('0.99'), 1)
(54, 'Bleed The Freak', 'Alice In Chains', 'MPEG audio file', Decimal('0.99'), 1)
(60, 'Confusion', 'Alice In Chains', 'MPEG audio file', Decimal('0.99'), 1)
(66, 'Por Causa De Você', 'Antônio Carlos Jobim', 'MPEG audio file', Decimal('0.99'), 1)
(72, 'Angela', 'Antônio Carlos Jobim', 'MPEG audio file', Decimal('0.99'), 1)
(78, 'Master Of Puppets', 'Apocalyptica', 'MPEG audio file', Decimal('0.99'), 1)
(84, 'Welcome Home (Sanitarium)', 'Apocalyptica', 'MPEG audio file', Decimal('0.99'), 1)
(90, 'Set It Off', 'Audioslave', 'MPEG audio file', Decimal('0.99'), 1)