In [71]:
import mysql.connector

In [92]:
config = {
    'user':'root',
    'password':'password',
    'host':'localhost',
    'database':'smarthome',
    'port':'3306',
}

In [93]:
def connect(config):
    return mysql.connector.connect(**config)

In [94]:
cnx = connect(config)

In [75]:
def execute(query):
    if cnx:
        cursor = cnx.cursor()
        cursor.execute(query)
        for i in cursor:
            print(i)
    else:
        print('No connection')

In [76]:
query = "Show tables"
execute(query)

('active_device',)
('ad_property_value',)
('device_properties',)
('devices',)

In [77]:
query = "SELECT * FROM devices"
execute(query)

(1, 'TV', '/images/icons/tv-monitor.png')
(2, 'curtains', '/images/icons/curtains.png')
(3, 'dish washer', '/images/icons/dish-washer.png')
(4, 'fridge', '/images/icons/fridge.png')
(5, 'lock', '/images/icons/lock.png')
(6, 'plug', '/images/icons/plug.png')
(7, 'security camera', '/images/icons/security-camera.png')
(8, 'speaker', '/images/icons/speaker.png')
(9, 'washing machine', '/images/icons/washing-machine.png')
(10, 'air conditioner', '/images/icons/air-conditioner.png')
(11, 'air purifier', '/images/icons/air-purifier.png')
(12, 'bell camera', '/images/icons/bell.png')
(13, 'vacuum cleaner', '/images/icons/cleaner.png')
(14, 'coffee machine', '/images/icons/coffee-machine.png')
(15, 'fan', '/images/icons/fan.png')
(16, 'garage door', '/images/icons/garage.png')
(17, 'lights', '/images/icons/idea.png')
(18, 'mirror', '/images/icons/mirror.png')
(19, 'desk light', '/images/icons/smart-light.png')
(20, 'media', '/images/icons/youtube.png')

In [80]:
q = "SHOW databases"
execute(q)

('information_schema',)
('mysecondBookshop',)
('mysql',)
('performance_schema',)
('smarthome',)
('sys',)

Create new database `mysecondBookshop`

In [79]:
q = "CREATE DATABASE mysecondBookshop"
execute(q)

Use `mysecondBookshop`

In [96]:
q = "USE mysecondBookshop"
execute(q)

Create a table `Publisher`

In [82]:
q = """CREATE TABLE Publisher (id INT AUTO_INCREMENT, name VARCHAR(50), 
address VARCHAR(100) , PRIMARY KEY(id))"""
execute(q)

Create table `Book` with **FOREIGN KEY** publisher_id

In [86]:
q = """
CREATE TABLE Book ( id INT AUTO_INCREMENT, publisher_id INT, name VARCHAR(50),
price DECIMAL(5, 2) unsigned, PRIMARY KEY (id), FOREIGN KEY(publisher_id)
REFERENCES Publisher(id))
"""
execute(q)

In [87]:
query = "Show tables"
execute(query)

('Book',)
('Publisher',)

In [88]:
query = "DESCRIBE Book"
execute(query)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('publisher_id', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(50)', 'YES', '', None, '')
('price', 'decimal(5,2) unsigned', 'YES', '', None, '')

Create new rows

In [97]:
q = ("INSERT INTO Publisher (name, address) VALUES (%s,%s)")
data = ('McGrawHill', 'Somewhere1')
cursor = cnx.cursor()
cursor.execute(q,data)
lastinstertedID = cursor.lastrowid
print(lastinstertedID)

1

In [98]:
q = "SELECT * FROM Publisher"
execute(query)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('publisher_id', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(50)', 'YES', '', None, '')
('price', 'decimal(5,2) unsigned', 'YES', '', None, '')