In [1]:
import mysql.connector

In [2]:
config = {
    'user':'root',
    'password':'password',
    'host':'localhost',
    'database':'smarthome',
    'port':'3306',
}

In [10]:
def connect(config):
    return mysql.connector.connect(**config)

In [19]:
cnx = connect(config)
cursor = cnx.cursor()

In [165]:
def execute(query):
    if cnx:
        cursor = cnx.cursor()
        cursor.execute(query)
        for i in cursor:
            print(i)
    else:
        print('No connection')

In [12]:
query = "Show tables"
cursor.execute(query)
rows = cursor.fetchall()
print(rows)

[('active_device',), ('ad_property_value',), ('device_properties',), ('devices',)]

In [13]:
query = "SELECT * FROM devices"
cursor.execute(query)
dev = cursor.fetchall()
dev

[(1, 'TV', '/images/icons/tv-monitor.png'),
 (2, 'curtains', '/images/icons/curtains.png'),
 (3, 'dish washer', '/images/icons/dish-washer.png'),
 (4, 'fridge', '/images/icons/fridge.png'),
 (5, 'lock', '/images/icons/lock.png'),
 (6, 'plug', '/images/icons/plug.png'),
 (7, 'security camera', '/images/icons/security-camera.png'),
 (8, 'speaker', '/images/icons/speaker.png'),
 (9, 'washing machine', '/images/icons/washing-machine.png'),
 (10, 'air conditioner', '/images/icons/air-conditioner.png'),
 (11, 'air purifier', '/images/icons/air-purifier.png'),
 (12, 'bell camera', '/images/icons/bell.png'),
 (13, 'vacuum cleaner', '/images/icons/cleaner.png'),
 (14, 'coffee machine', '/images/icons/coffee-machine.png'),
 (15, 'fan', '/images/icons/fan.png'),
 (16, 'garage door', '/images/icons/garage.png'),
 (17, 'lights', '/images/icons/idea.png'),
 (18, 'mirror', '/images/icons/mirror.png'),
 (19, 'desk light', '/images/icons/smart-light.png'),
 (20, 'media', '/images/icons/youtube.png')]

In [14]:
q = "SHOW databases"
cursor.execute(q)
dbs = cursor.fetchall()
dbs

[('information_schema',),
 ('mysecondBookshop',),
 ('mysql',),
 ('performance_schema',),
 ('smarthome',),
 ('sys',)]

Create new database `mysecondBookshop`

In [ ]:
q = "CREATE DATABASE mysecondBookshop"
cursor.execute(q)
cursor.commit()

Use `mysecondBookshop`

In [20]:
q = "USE mysecondBookshop"
cursor.execute(q)

Create a table `Publisher`

In [ ]:
q = """CREATE TABLE Publisher (id INT AUTO_INCREMENT, name VARCHAR(50), 
address VARCHAR(100) , PRIMARY KEY(id))"""
cursor.execute(q)
cursor.commit()

Create table `Book` with **FOREIGN KEY** publisher_id

In [ ]:
q = """
CREATE TABLE Book ( id INT AUTO_INCREMENT, publisher_id INT, name VARCHAR(50),
price DECIMAL(5, 2) unsigned, PRIMARY KEY (id), FOREIGN KEY(publisher_id)
REFERENCES Publisher(id))
"""
cursor.execute(q)
cursor.commit()

In [16]:
query = "Show tables"
cursor.execute(query)
tables = cursor.fetchall()
tables

[('Book',), ('Publisher',)]

In [21]:
query = "DESCRIBE Book"
cursor.execute(query)
cursor.fetchall()

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('publisher_id', 'int', 'YES', 'MUL', None, ''),
 ('name', 'varchar(50)', 'YES', '', None, ''),
 ('price', 'decimal(5,2) unsigned', 'YES', '', None, '')]

Create new rows

In [22]:
q = ("INSERT INTO Publisher (name, address) VALUES (%s,%s)")
data = ('Penguin', 'Somewhere3')
cursor.execute(q,data)
lastinstertedID = cursor.lastrowid
print(lastinstertedID)
cnx.commit()

6

In [23]:
q = "SELECT * FROM Publisher"
cursor.execute(q)
c = cursor.fetchall()
print(c)

[(4, 'McGrawHill', 'Somewhere1'), (5, 'McGrawHill', 'Somewhere1'), (6, 'Penguin', 'Somewhere3')]

In [24]:
cnx.close()