## Part 1: Restructuring Data

In the first part of this programming exercise, your goal is to recover the original format of the Pima Indian Diabetes dataset. Here, you are given the same data, but in a much less manageable form. You should use the Numpy, Scipy and / or Pandas packages to implement a modular (ie. function-based) pipeline for restructuring the data. The final result should be identical to the downloadable data.

You may have to look back at the data in pima-indians-diabetes.csv to figure out the format of the messy version here.

Avoid using outside tools like a text editor or a spreadsheet program. Instead, all your transformations should be done programmatically. You might even want to build some defensive coding strategies in if you are feeling really ambitious!

In [7]:
import pandas as pd
import numpy as np

### Load data

In [2]:
messy_df = pd.read_csv("data/messy-pima-indians-diabetes.csv")

In [12]:
s = messy_df.shape
print("There are {} rows".format(s[0]))

There are 7833 rows

Each 9 rows consist information about one sample. Therefore, the columns of the table must be the following:
* times_pregnant
* plasma_glucose_concentration
* diastolic_blood_pressure
* triceps_thickness
* 2_hour_serum_insulin
* BMI
* diabetes_pedigreen
* age
* diabetes

In [11]:
messy_df.head(10)

                           Non-diabetic
0                  times_pregnant6.0000
1  plasma_glucose_concentration148.0000
2       diastolic_blood_pressure72.0000
3              triceps_thickness35.0000
4            2_hour_serum_insulin0.0000
5                            BMI33.6000
6              diabetes_pedigreen0.6270
7                            age50.0000
8                        diabetes1.0000
9                  times_pregnant6.0000