In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cars = pd.read_csv('imports-85.data')
cars.columns = 'symboling,normalized_losses,make,fuel_type,aspiration,\
num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,\
width,height,curb_weight,engine_type,num_of_cylinders,engine_size,\
fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,\
city_mpg,highway_mpg,price'.split(',')

In [3]:
cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [19]:
# cars.info()
cars['normalized_losses'].dtype

dtype('O')

In [20]:
for c in cars.columns:
    if cars[c][cars[c] == '?'].count() > 0:
        print(c, cars[c][cars[c] == '?'].count(),cars[c].dtype)

normalized_losses 40 object
num_of_doors 2 object
bore 4 object
stroke 4 object
horsepower 2 object
peak_rpm 2 object
price 4 object

In [21]:
cars_df = cars.replace('?', np.nan)

In [22]:
cars_df.isnull().sum()

symboling             0
normalized_losses    40
make                  0
fuel_type             0
aspiration            0
num_of_doors          2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_of_cylinders      0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [23]:
cars_df['normalized_losses'].value_counts(dropna=False, normalize=True).head()

NaN    0.196078
161    0.053922
91     0.039216
150    0.034314
104    0.029412
Name: normalized_losses, dtype: float64

In [24]:
cars_df[cars_df['normalized_losses'].isna()].head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

In [25]:
# normalized_losses_mean = cars_df[cars_df['normalized_losses'].notna()]['normalized_losses'].astype(int).mean()
# cars_df.loc[cars_df['normalized_losses'].isna(),'normalized_losses'] = normalized_losses_mean
# cars_df['normalized_losses'] = cars_df['normalized_losses'].astype(int)
# cars_df['normalized_losses'].dtype
cars_df.drop('normalized_losses', axis=1, inplace=True)

In [26]:
cars_df['num_of_doors'].value_counts(dropna=False)

four    114
two      88
NaN       2
Name: num_of_doors, dtype: int64

In [27]:
cars_df.dropna(subset=['num_of_doors','bore','stroke','horsepower','peak_rpm','price'], inplace=True)
cars_df.info()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [28]:
cars_df['bore'] = cars_df['bore'].astype(float)
cars_df['stroke'] = cars_df['stroke'].astype(float)
cars_df['horsepower'] = cars_df['horsepower'].astype(int)
cars_df['peak_rpm'] = cars_df['peak_rpm'].astype(int)
cars_df['price'] = cars_df['price'].astype(float)
cars_df.info()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
scaler = MinMaxScaler()
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_df = cars_df.select_dtypes(include=numerics).copy()
numeric_df.drop('price', axis=1, inplace=True)
cols = numeric_df.columns
# cols
for i in cols:
    cars_df[i] = cars_df[i].astype('float64')

scaler.fit(cars_df[cols])
scaled = scaler.transform(cars_df[cols])

In [ ]:
# scaled
cars_df[cols] = scaled
cars_df[cols].head()

## Univariate Model

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
def knn_train_test(x, y, df):
    X_train, X_test, y_train, y_test = train_test_split(df[[x]], df[y], test_size=0.33, random_state=1)
    knn = KNeighborsRegressor()
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    mse = mean_squared_error(y_test, pred)
    rmse = mse**0.5
    return rmse

In [ ]:
rmse_um = pd.Series()
for i in cols:
    res = knn_train_test(i, 'price', cars_df)
    rmse_um[i] =res
rmse_um.sort_values()

In [ ]:
def knn_train_test_k(x, y, df,k):
    X_train, X_test, y_train, y_test = train_test_split(df[[x]], df[y], test_size=0.33, random_state=1)
    knn = KNeighborsRegressor(k)
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    mse = mean_squared_error(y_test, pred)
    rmse = mse**0.5
    return rmse

In [ ]:
# from collections import defaultdict
# rmse_umk = defaultdict(list)
# fig, ax = plt.figure(1,1)
# k_arr = [1,3,5,7,9]
# for k in k_arr:
#     for i in cols:
#         res = knn_train_test_k(i, 'price', cars_df, k)
#         ax.plot(i,res)
# #         rmse_umk[i].append(res)
# fig.show()

In [ ]:
# rmse_umk